# Module 3: Data Structures Assignments
## Lesson 3.1: Lists
### Assignment 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
1


### Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.

In [ ]:

print(f"first element is {my_list1[0]}")

print(f"middle element is {len(my_list1) // 2}")

print(f"last element is {my_list1[-1]}")

first element is 1
middle element is 11
last element is 22


### Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

In [ ]:
numbers = list(range(1, 21))

print(numbers[:5])

print(numbers[5:15])

print(numbers[-5:])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[16, 17, 18, 19, 20]


### Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

In [ ]:
squared_numbers = [num**2 for num in range(1, 11)]

squared_numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]


### Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

In [ ]:
print(numbers)

even_numbers = [even for even in numbers if even % 2 == 0]

print(even_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]


### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

In [ ]:
random_list = [2,4,7,7,4,6,2,5]

ascending = sorted(random_list)
print(ascending)

descending = sorted(random_list, reverse=True)
print(descending)

remove_duplicates = list(set(random_list))
print(remove_duplicates)

[2, 2, 4, 4, 5, 6, 7, 7]
[7, 7, 6, 5, 4, 4, 2, 2]
[2, 4, 5, 6, 7]


### Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [ ]:
nested_list = [["sai",25,"hyd"], ["sindhu",23,"srikakulam"], ["lakshmi",21,"amalapuram"]]

print(nested_list[1][2])

srikakulam


### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

In [ ]:
students = [{'name':'sai','score':71},{'name':'prasad','score':85},{'name':'ganesh','score':89},{'name':'uday','score':74}]

sorted_list = sorted(students, key=lambda student: student['score'], reverse=True)

print(sorted_list)

[{'name': 'ganesh', 'score': 89}, {'name': 'prasad', 'score': 85}, {'name': 'uday', 'score': 74}, {'name': 'sai', 'score': 71}]


### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.


### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

In [ ]:
nested_list = [[1,2],[3,4],[5,6]]

def flatten_list(nested_list):
    new_list = []
    for i in nested_list:
        for j in i:
            new_list.append(j)
    return new_list

flattened = flatten_list(nested_list)

print(nested_list)
print(flattened)

[[1, 2], [3, 4], [5, 6]]
[1, 2, 3, 4, 5, 6]


### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

In [ ]:
numbers = list(range(1, 11))
print(numbers)

for i in [6,4,2]:
    del numbers[i]

print(numbers)
numbers.insert(5, 99)

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 4, 6, 8, 9, 10]
[1, 2, 4, 6, 8, 99, 9, 10]


### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

In [2]:
name = ["sai","prasad","uday"]
age = [25,22,27]
combined = list(zip(name, age))
print(combined)

[('sai', 25), ('prasad', 22), ('uday', 27)]


### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

In [3]:
normal_number = [1,2,3,4,5]

def reverse(listnumber):
    return listnumber[::-1]

reverse_number = reverse(normal_number)

print(normal_number)
print(reverse_number)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]


### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.


### Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [ ]:
list_one = [1,2,3,4,5,4]
list_two = [7,8,9,2,4]

def intersectlist(list1, list2):
    new_list = []
    for i in list1:
        if i in list2 and i not in new_list:
            new_list.append(i)
    return new_list

intersect_list = intersectlist(list_one, list_two)

print(intersect_list)

[2, 4]