# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [ ]:
numbers = tuple(range(1, 11))
numbers

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)


### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [ ]:
print(numbers[1])
print(numbers[len(numbers) // 2])
print(numbers[-1])

2
6
10


### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [ ]:
print(numbers[:3])
print(numbers[-3:])
print(numbers[2:5])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)


### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [ ]:
my_tuple = ((1,3,5),(2,4,6),(3,5,7))
print(my_tuple)
print(my_tuple[1][2])

((1, 3, 5), (2, 4, 6), (3, 5, 7))
6


### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [ ]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)
combined = tuple1 + tuple2
print(combined)

(1, 2, 3, 4, 5, 6)


### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [ ]:
dup_tuple = (1,2,3,4,5,4,6,4)
count_number = dup_tuple.count(4)
index_number = dup_tuple.index(4)

print(count_number)
print(index_number)

3
3


### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [ ]:
tuple_number = (5,8,2,6,2)
a,b,c,d,e = tuple_number

print(a)
print(b)
print(c)
print(d)
print(e)

5
8
2
6
2


### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [ ]:
my_list = [12,45,75,24,5]
tuple_list = tuple(my_list)
print(tuple_list)

(12, 45, 75, 24, 5)


### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [ ]:
nested_tuple = ((1,2,3),(4,5,6),(7,8,9))
for i in nested_tuple:
    print(i)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)


### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [ ]:
pos_tuple = (1,2,3,4,5)
list_tuple = list(pos_tuple)
list_tuple.append(6)
converted = tuple(list_tuple)

print(converted)

(1, 2, 3, 4, 5, 6)


### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [ ]:
string_tuple = ('s','i','n','d','h','u')

singlestring = ''.join(string_tuple)
print(singlestring)

sindhu


### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [ ]:
dict_tuple = {('sai'):24, ('prasad'):33, ('ganesh'):65}

print(dict_tuple)

{'sai': 24, 'prasad': 33, 'ganesh': 65}


### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [1]:
nested_tuple = (('omkar',22,'mah'), ('shree',20,'hyd'), ('ram',34,'pune'))

for tuple in nested_tuple:
    for element in tuple:
        print(element)

omkar
22
mah
shree
20
hyd
ram
34
pune


### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [ ]:
original_tuple = (1,2,3,4,5,4,3,2,1)

set_tuple = set(original_tuple)

print(set_tuple)

{1, 2, 3, 4, 5}


### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [ ]:
sample_tuple = (1,2,3,4,5)

def minvalue(sample_tuple):
    return min(sample_tuple)

def maxvalue(sample_tuple):
    return max(sample_tuple)

def sumvalue(sample_tuple):
    return sum(sample_tuple)

print(sample_tuple)
print(f"min element is {minvalue(sample_tuple)}")
print(f"max element is {maxvalue(sample_tuple)}")
print(f"sum of elements is {sumvalue(sample_tuple)}")

(1, 2, 3, 4, 5)
min element is 1
max element is 5
sum of elements is 15